<div class="container">
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="add-name">Name</label>
      <input type="text"
        id="add-name" 
        class="form-control"
        formControlName="name"
        placeholder="Course title">  
    </div>
    <div class="form-group">
      <label for="add-description">Description</label>
      <textarea
        id="add-description"
        class="form-control"
        formControlName="description"
        rows="5"
        placeholder="Course description"
        ></textarea>
    </div>
    <div class="form-group">
      <div class="form-group">
          <label for="add-date">Date</label>
          <input type="text"
            id="add-date" 
            class="form-control"
            formControlName="date"
            placeholder="01/01/18">  
        </div>
        <div class="form-group">
            <label for="add-length">Duration</label>
            <input type="text"
              id="add-length" 
              class="form-control"
              formControlName="length"
              placeholder="60">  
          </div>
      <!-- <app-date-input></app-date-input> -->
      <!-- <app-duration-input></app-duration-input> -->
    </div>
    <div class="form-group">
      <button class="btn btn-primary mr-2" (click)="saveCourse()">Save</button>
      <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
