<div class="container">
  <div class="form-group">
    <label for="add-title">Title</label>
    <input type="text" class="form-control" id="add-title" placeholder="Course title" [(ngModel)]="course.name">  
  </div>
  <div class="form-group">
    <label for="add-description">Description</label>
    <textarea class="form-control" id="add-description" rows="5" placeholder="Course description" [(ngModel)]="course.description"></textarea>
  </div>
  <div class="form-group">
    <app-date-input></app-date-input>
    <app-duration-input></app-duration-input>
  </div>
  <div class="form-group">
    <button class="btn btn-primary mr-2" (click)="saveCourse()">Save</button>
    <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
  </div>
</div>
