.toolbar {
  padding: 0 13rem 0 0;
  position: relative;

  .search {
    margin: 0 0.5rem 0 0;
    width: 30%;
  }

  .add {
    position: absolute;
    right: 0.5rem;
    width: 12rem;
    padding: 0 0.3rem;

    svg {
      height: 1em;
      width: 1em;
      fill: #FFF;
    }
  }
}

.load-more {
  width: 100%;
}

.no-data {
  border: 1px solid #d1d1d1;
  padding: 0.5rem;
  margin: 2rem 0;
  text-align: center;
  text-transform: uppercase;
}
