<section class="container">
  <div class="container">
    <div class="row">
      <div class="column column-30">
        <input type="text" [(ngModel)]="searchString" (keyup.enter)="findCourse(searchString)" placeholder="Name, fragment or date">
      </div>
      <div class="column column-20">
        <button class="button button-outline" (click)="findCourse(searchString)">Search</button>
      </div>
      <div class="column column-20 column-offset-30 align-right">
        <button class="button" (click)="addCourse()">Add course</button>
      </div>
    </div>
  </div>
  <div>
    <app-course *ngFor="let course of courses" [title]="course.title" [minDuration]="course.minDuration" [creationDate]="course.creationDate" [description]="course.description"></app-course>
  </div>
</section>
