header {
  border: 1px solid #d1d1d1;
  border-top: none;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 1rem;
}

header button {
  line-height: 1.9rem;
  margin: 1rem 0.3rem 0;
  padding: 1rem;
  width: 10rem;
}

header .controls {
  text-align: right;
}

header app-logo {
  display: block;
  position: relative;
}