<header class="container">
  <div class="row">
    <div class="column column-60">
      <app-logo></app-logo>
    </div>
    <div class="column column-40 controls">
      <span class="user-name" *ngIf="authService.isAuthenticated()">{{ authService.getUserInfo() }}</span>
      <button class="button button-outline" *ngIf="!authService.isAuthenticated()" routerLink='../login'>Login</button>
      <button class="button button-outline" *ngIf="authService.isAuthenticated()" (click)="logout()">Log OFF</button>
    </div>
  </div>
</header>
