/* You can add global styles to this file, and also import other style files */
@import url(../node_modules/bootstrap/dist/css/bootstrap.css);
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.breadcrumb {
  background-color: transparent;
  background: transparent;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

app-header .user-name {
  font-weight: bold;
  margin-right: 1rem;
}

app-logo svg {
  height: 30px;
  width: 30px;
}

app-courses-list .star svg {
  height: 1.4rem;
  width: 1.4rem;
  fill: #6c757d;
}
app-courses-list .btn-outline-secondary svg {
  height: 1.4rem;
  width: 1.4rem;
  fill: #6c757d;
}
app-courses-list .btn-outline-secondary:hover svg {
  fill: #fff;
}

app-course .card.fresh {
  border-color: #28a745;
}
app-course .card.upcomming {
  border-color: #007bff;
}
app-course .card .star svg {
  fill: #ffc107;
  height: 1em;
  width: 1em;
}
app-course button svg {
  margin-top: -0.2em;
  height: 1em;
  width: 1em;
}
app-course button.btn-outline-primary svg {
  fill: #007bff;
}
app-course button.btn-outline-danger svg {
  fill: #dc3545;
}
app-course button:hover svg {
  fill: #fff;
}

app-loader {
  background: #fff;
  font-size: 50pt;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
  display: flex;
}
