/* You can add global styles to this file, and also import other style files */
@import "../node_modules/milligram/dist/milligram.css";

html {
  box-sizing: border-box;
}

body {
  min-width: 500px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header, footer {
  display: block;
  margin: 0;
}

p {
  margin: 0;
}

.hidden {
  display: none;
}

.wrapper {
  min-height: calc(100vh - 4rem);
}